.header {
    &__link { align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 0.3125rem 1.25rem;
          &__img { max-width: 100%;
                  width: 12.5rem;  
                }

          &__logon { display: flex;
                       gap: 1rem;   
                       margin-right: 0.5rem;   
                       & p { font-weight: bold;}
                       & i { font-size: 1.1rem;
                             margin-right: 0.5rem;
                           }
                     }
          }
   }